/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

.image {
    width: 30%;
    height: 50%;
}

html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

#logo-container {
    margin-left: 47%;
}

.total-style {
    background-color: #E3F2FD;
    font-weight: bold;
}

body {
    background-image: url(../images/logolrp.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 50% 26%;
    background-clip: initial;   
}

#preloader {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    background: white;
    background-image: url(../images/loading.gif);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 50% 26%;
    background-clip: initial;     
}
