/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

* {
margin:0;
padding:0;
}

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

.image {
    width: 30%;
    height: 50%;
}

html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

#logo-container {
    margin-left: 47%;
}

.total-style {
    background-color: #E3F2FD;
    font-weight: bold;
}

body {

}

#preloader {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    background: white;
    background-image: url(../img/loading.gif);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 50% 26%;
    background-clip: initial;     
}

.container {
    background-attachment: scroll;
    background-position: 50% 26%;
    background-clip: initial;
    width: 100%;
    margin:0%;
    padding-top: 0.5%;
    padding-bottom: 0;
    padding-left: 1.5%;
    padding-right: 1.5%;
}

#logo {
  width: 120px;
  height: 100px;
  margin-top: -10px;
  margin-bottom: -10px;
  margin-left: -5px;
  margin-right: -5px;
  padding-top: 0; 
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

#titulo {
  margin-top: 20px;
  margin-bottom: -15px;
  margin-left: -30px;
  margin-right: -30px;
  padding-top: 0; 
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  text-height: auto;
}
